@media screen and (max-width: 425px){

  nav { 
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: none;
    padding: 0px;
    height: auto;
    
  }
  .first {
    gap: 7px;
  }
  .first > .gamer {
    font-size: 30px;
  }
  .first > img {
    width: 32px;
    height: 15px;
  }
  .second {
    margin-top: 24px;
    flex-direction: column;
    font-size: 15px;
    gap: 14px;
  }

  .box {
    margin-top: 24px;
    padding: 7px 9px;
    border-radius: 4px;
    gap:7px;
  }
  .box img{
    height: 9px;
    width: auto;
  }

  .section-one {
    margin-top: 30px;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    gap: 10px;
    background-image: none;
    align-items: center;
    gap: 10px;
  }
  .goat {
    background-image: url("../assets/Group 14.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .goat h4 {
    
    margin-top: 50px;
    margin-left: 92px;
    margin-right: 120px;
    font-size: 19px;
  }
  .goat h2 {
    font-size: 37px;
  }
  ul {
    margin-top: 9px;
    gap: 6px;
  }
  ul li {
    font-size: 14px;
    gap: 5px;
  }
  .button {
    gap: 10px;
    margin-top: 16px;
    margin-bottom: 62px;
  }
  .pink-btn,
  .blue-btn {
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 19px;
  }
  .pics img,
  .section-two img,
  .feature div img,
  .kids img {
    width: 100%;
  }

  .section-two {
    background: none;
    flex-direction: column;
    height: auto;
    gap: 24px;
  }
  .section-two > .gamer {
    width: auto;
    align-items: center;
    width: 289px;
  }
  .gamer h4 {
    margin-bottom: 12px;
    font-size: 29px;
  }
  .gamer p {
    text-align: center;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 15px;
  }
  .purpose {
    margin-top: 22px;
    font-size: 15px !important;
    line-height: 18px;
  }
  .purpose span {
    line-height: 18px;
    font-size: 15px !important;
  }
  .section-three {
    margin-top: 25px;
  }
  .head h3 {
    font-size: 25px;
  }
  .head p {
    font-size: 12px;
    margin-bottom: 30px;
    line-height: 12px;
  }
  .feature {
    flex-direction: column;
    gap: 45px;
  }
  .feature div {
    width: 257px;
    height: 300px;
  }

  .feature div img {
    margin-bottom: 5px;
    border-radius: 7px;
  }
  .overlay {
    font-size: 10px;
  }
  .feature div p {
    font-size: 12px;
    text-align: center;
  }
  .section-four {
    flex-direction: column;
    height: 442px;
    gap: 28px;
    margin-top: 16px;
  }
  .section-four2 {
    margin-top: 71px;
    flex-direction: column;
  }
  .qoute {
    width: 176px;
    gap: 30px;
    text-align: center;
  }
  .qoute2 {
    text-align: center;
    width: 206px;
  }
  .qoute-big-image {
    width: 242.63px;
    height: 248.426px;
  }
  .qoute-small-image {
    width: 121.729px;
    height: 139.533px;
    left: -54px;
    top: 164px;
  }
  .qoute-small-image2 {
    top: 183px;
    left: 164px;
  }

  .qoute h2 {
    font-size: 22px;
    line-height: 28px;
  }
  .qoute p {
    font-size: 10px;

    line-height: 15px;
  }
  .section-six {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
  }

  .careers {
    width: auto;
    gap: 11px;
    padding-top: 57px;
    padding-right: 60px;
    padding-bottom: 34px;
    padding-left: 64px;
    margin-left: 0px;
  }
  .careers h2 {
    font-size: 19px;
    line-height: 23px;
  }
  .careers p {
    font-size: 7px;
    line-height: 12px;
  }
  .careers table {
    font-size: 8px;
    line-height: 16px;
  }
  .kids {
    height: 387px;
    width: 313px;
    padding-bottom: 57px;
  }
  .white-btn {
    font-size: 8px;
    padding: 8px 15px;
  }

  .section-seven {
padding: 50px 10px;

  }

  .genre-1-dup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: auto;
  }
  .genre {
    width: auto;
    height: 31px;
    font-size: 8px;

    font-size: 10px;
    padding: 3px;
    gap: 6px;
    justify-content: center;
  }
  .genre img {
    width: 28px;
    height: auto;
  }

  footer {
    padding: 56px 0px;
    gap: 16px;
  }
  .options {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 7px;
    width: 150px;
    gap: 24px;
  }
  .social-media img {
    width: 15px;
    height: 15x;
  }
  .social-media {
    flex-wrap: wrap;
    width: 102px;
    gap: 24px;
  }
  .terms-conditions {
    flex-wrap: wrap;
    gap: 22px;
    font-size: 7px;
    width: 150px;
    justify-content: space-between;
  }
  .copyright {
    width: 99px;
    font-size: 7px;
  }
}
